# Day 2

# Variables & Operators

In [1]:
a = 1
print(a)

1

In [2]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [6]:
X = "Apple"
print(X)

Apple

In [7]:
student = 23
print(student)

23

In [8]:
1@& = 2
print(1@&)

SyntaxError: invalid syntax (1551044377.py, line 1)

In [9]:
student123 = 25
print(student123)

25

In [10]:
_a = 5
print(_a)

5

# Many values to multiple variables

In [12]:
x,y,z = "Orange","Banana","Cherry"
print(x,y,z)

Orange Banana Cherry

In [13]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Python output Variables

In [14]:
x = "Python"
y = "is"
z = "Amazing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

Python is Amazing

Python
is
Amazing

# Data Types

In [15]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [16]:
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [18]:
z = 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [19]:
a = "This is the day 2 of python class"
print(a)
print(type(a))

This is the day 2 of python class
<class 'str'>

In [20]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [21]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [22]:
%whos

Variable     Type       Data/Info
---------------------------------
X            str        Apple
a            str        This is the day 2 of python class
b            list       n=10
c            tuple      n=10
student      int        23
student123   int        25
x            int        2
y            float      4.5
z            complex    (2+5j)

# Operators in Python

In [23]:
a = 5
b = 3
print(a+b)

8

In [24]:
a = 5
b = 2.3
print(a+b)

7.3

In [25]:
a = 5+2j
b = 4
print(a+b)

(9+2j)

In [27]:
a = "Hello"
b = "Students"
print(a + " " + b)

Hello Students

# Substraction

In [28]:
a = 15
b = 6
print(a-b)

9

In [29]:
a = 5.8965
b = 7.2585963
print(a-b)

-1.3620963000000001

In [31]:
a = 5+6j
b = 3
print(a-b)

(2+6j)

In [32]:
a = "Hello"
b = "Students"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Multiplication Operator

In [33]:
a = 15
b = 56
print(a*b)

840

In [34]:
a = 5.689
b = 82.55632
print(a*b)

469.66290448

# Division

In [35]:
a = 10
b = 5
print(a/b)

2.0

# Modulous Operator

In [36]:
a = 19
b = 3
print(a%b)

1

In [37]:
a = 12
b = 4
print(a%b)

0

# Exponent Operator

In [38]:
a = 41256789
print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [40]:
a = ((859*78)+(78.256/89)+(856**67)+(145689-7526))
print(a)

2.990489165920469e+196

In [41]:
a = True
b = False
print(a and b)

False

In [42]:
a = True
b = True
print(a and b)

True

In [43]:
a = False
b = True
print(a and b)

False

In [44]:
a = False
b = False
print(a and b)

False

In [45]:
a = False
b = False
print(a or b)

False

In [47]:
a = True
b = False
print(not(a))

False

In [48]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print(a)

20637005.183908045